<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>JOY</title>
    <link rel = "stylesheet" type="text/css" href="../css/index.css"/>
    <link rel = "stylesheet" type="text/css" href="../css/wrapper.css"/>
    <link rel = "stylesheet" type="text/css" href="../css/character.css"/>
        <script type="text/javascript" src="../js/jquery-3.1.1.min.js"></script>
  </head>
  <body>

    <div class="header">
      <div class="wrapper">
        <a href="/">
          <img class="logo" src="../img/티끌모아태산.png" alt="이미지">
        </a>

        <div class="nav">
          <div class="top_menu">
            <ul>
              <li class="main_menu mmu1">
                <span>내역 입력</span>
                <ul class="sub_menu">
                  <li><a href="/income">수입 내역 입력</a></li>
                  <li><a href="/expense">지출 내역 입력</a></li>
                </ul>
              </li>

              <li class="main_menu mmu2">
                <span>통계 조회</span>
                <ul class="sub_menu">
                  <li><a href="/statistic/web">일별 통계</a></li>
                  <li><a href="/statistic/monthly">월별 통계</a></li>
                </ul>
              </li>
              <li class="main_menu mmu3">
                <a href="/quest"><span>퀘스트</span></a>
              </li>
              <li class="main_menu mmu4">
                <span>캐릭터</span>
                <ul class="sub_menu">
                  <li><a href="/character">캐릭터</a></li>
                  <li><a href="/item">아이템</a></li>
                </ul>
              </li>
              <li class="main_menu mmu5">
                <a href="/community"><span>커뮤니티</span></a>
              </li>

            </ul>
          </div>
        </div> <!-- nav -->


      </div>
    </div>

    <div class="container">
      <h1 class="row skew-title">
        <span>C</span><span>H</span><span>A</span><span>R</span><span>A</span><span>C</span><span>T</span><span>E</span><span class="last">R</span>
        &nbsp;
        <span class="alt">B</span><span class="alt">O</span><span class="alt">O</span><span class="alt last">K</span>
      </h1>
      <p class="row row--intro">Change your main character and Unlock new one!</p>
    </div>

    <div class="wrapper content">
      <div class="character-main">
        <img id="character-main-img" alt=" " src="img/character<%=character.main%>.png"/>
      </div>

      <% var where = [] %>
      <% var clickFunc = [] %>
      <% for (var i in character.list ) { %>
        <% if (character.list[i] == 0) {%>
          <% where[i] = "/character/unlock?type="+i %>
          <% clickFunc[i] = "unlock("+i+")" %>
        <% } else{%>
          <% where[i] = "/character/main?type="+i %>
          <% clickFunc[i] = "mainCharacter("+i+")" %>
        <% }%>
      <% }%>

      <div class="character-list">
        <a class="shop button" href="../item">
          <img id="shop-img" alt="Shop" src="img/image_shop.png"/>
          <h3 id="shop-text">Item Shop</h3>
        </a>
        <input checked="checked" class="menu-toggler" id="menu-toggler" type="checkbox"></input>
        <label for="menu-toggler"></label>
        <ul>
          <li class="menu-item">
            <a class="fa fa-facebook" onClick="<%=clickFunc[1]%>">
              <img class="character-img" alt=" " src="img/character<%=character.list[1]%>_head.png"/>
            </a>
          </li>
          <li class="menu-item">
            <a class="fa fa-google" onClick="<%=clickFunc[2]%>">
              <img class="character-img" alt=" " src="img/character<%=character.list[2]%>_head.png"/>
            </a>
          </li>
          <li class="menu-item">
            <a class="fa fa-dribbble" onClick="<%=clickFunc[3]%>">
              <img class="character-img" alt=" " src="img/character<%=character.list[3]%>_head.png"/>
            </a>
          </li>
          <li class="menu-item">
            <a class="fa fa-codepen" onClick="<%=clickFunc[4]%>">
              <img class="character-img" alt=" " src="img/character<%=character.list[4]%>_head.png"/>
            </a>
          </li>
          <li class="menu-item">
            <a class="fa fa-linkedin" onClick="<%=clickFunc[5]%>">
              <img class="character-img" alt=" " src="img/character<%=character.list[5]%>_head.png"/>
            </a>
          </li>
          <li class="menu-item">
            <a class="fa fa-github" onClick="<%=clickFunc[6]%>">
              <img class="character-img" alt=" " src="img/character<%=character.list[6]%>_head.png"/>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <!--footer-->
    <div class="footer">
      <img class="btm_logo" alt=" " src="img/티끌모아태산.png"/>
    </div>
  </body>
</html>

<script>
$('.skew-title').children('span').hover((function() {
  var $el, n;
  $el = $(this);
  n = $el.index() + 1;
  $el.addClass('flat');
  if (n % 2 === 0) {
    return $el.prev().addClass('flat');
  } else {
    if (!$el.hasClass('last')) {
      return $el.next().addClass('flat');
    }
  }
}), function() {
  return $('.flat').removeClass('flat');
});

//console.log(<%=state%>);
//console.log(<%=state.toString%>);
//console.log(<%=state%>.toString);
//consoel.log(JSON.stringify(<%=state%>));
//consoel.log(<%-JSON.stringify(state)%>);
if(<%-JSON.stringify(state)%>=="fail") {
  alert("캐릭터를 해제하기에는 아이템이 부족해요!");
} else if(<%-JSON.stringify(state)%>=="success") {
  alert("캐릭터가 해제 되었습니다. 축하해요!");
}

function unlock(index){
  if(confirm("캐릭터를 해제하시겠습니까?")){
    var formTag = document.createElement("form");
    formTag.setAttribute('action', '/character/unlock?type='+index);
    formTag.className = 'submit_unlock';
    formTag.setAttribute('method', 'GET');
    formTag.setAttribute('style', 'display: none');

    document.getElementsByClassName('footer')[0].appendChild(formTag);
    $(".submit_unlock").submit();
  }
}

function mainCharacter(index) {
  if(confirm("메인 캐릭터로 설정하시겠어요?")){
    var formTag = document.createElement("form");
    formTag.className = 'set_main_character';
    formTag.setAttribute('action', '/character/main?type='+index);
    formTag.setAttribute('method', 'GET');
    formTag.setAttribute('style', 'display: none');

    document.getElementsByClassName('footer')[0].appendChild(formTag);
    $(".set_main_character").submit();
  }
}

</script>
