				<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>JOY</title>
    <link rel="stylesheet" type="text/css" href="../css/index_new.css" />
    <link rel="stylesheet" type="text/css" href="../css/wrapper.css" />
    <link rel="stylesheet" type="text/css" href="../css/setting.css" />

  </head>
  <body>
    <div class="header">
      <div class="main_wrapper">
        <a href="/">
          <img class="logo" src="../img/티끌모아태산_white.png" />
        </a>

        <div class="nav">
          <div class="top_menu">
            <ul>
              <li class="main_menu mmu1">
                <span>내역 입력</span>
                <ul class="sub_menu">
                  <li><a href="/income">수입 내역 입력</a></li>
                  <li><a href="/expense">지출 내역 입력</a></li>
                </ul>
              </li>

              <li class="main_menu mmu2">
                <span>통계 조회</span>
                <ul class="sub_menu">
                  <li><a href="/statistic/web">일별 통계</a></li>
                  <li><a href="/statistic/monthly">월별 통계</a></li>
                </ul>
              </li>
              <li class="main_menu mmu3">
                <a href="/quest"><span>퀘스트</span></a>
              </li>
              <li class="main_menu mmu4">
                <span>캐릭터</span>
                <ul class="sub_menu">
                  <li><a href="/character">캐릭터</a></li>
                  <li><a href="/item">아이템</a></li>
                </ul>
              </li>
              <li class="main_menu mmu5">
                <a href="/community"><span>커뮤니티</span></a>
              </li>
            </ul>
          </div>
        </div> <!-- nav -->

    </div>



    <% if (username!="guest"){ %>

      <div id="settings" ontouchstart="<%= true %>">
        <input checked="<%= true %>" class="nav" name="nav" type="radio"></input>
        <span class="nav">Profile</span>
        <input class="nav" name="nav" type="radio"></input>
        <span class="nav">Account</span>

        <main class="content">
          <section id="profile">
            <form>
              <ul>
                <li class="large padding avatar">

                  <!--<span style="background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/345377/selca-square.jpg');"></span>-->
                  <span style="background-image: url('<%=profilePicture%>');"></span>
  <!--
                    <img class="user_profile" src=<%= profilePicture %> alt="profilePicture">
  -->
                  <div>
                    <fieldset class="material">
                      <div>
                        <input  required="<%= true %>" type="text" value="<%= username %>"></input>
                        <label>Name</label>
                        <hr/>
                      </div>
                    </fieldset>
                  </div>
                </li>
                <li id="jh" >
                  <fieldset class="material">
                    <div>
                      <input required="<%= true %>" type="text" value="<%= gender %>"></input>
                      <label>Gender</label>
                      <hr/>
                    </div>
                  </fieldset>
                </li>
                <li id="jh" >
                  <fieldset class="material">
                    <div>
                      <input required="<%= true %>" type="text" value="<%= birth %>"></input>
                      <label>Birth</label>
                      <hr/>
                    </div>
                  </fieldset>
                </li>
                <!--
                <li>
                  <fieldset class="material">
                    <div>
                      <input required="<%= true %>" type="text" value="Gabrielle Wee"></input>
                      <label>Name</label>
                      <hr/>
                    </div>
                  </fieldset>
                </li>

                <li class="large padding">
                  <fieldset class="material-button center">
                    <div>
                      <input class="save" type="submit" value="Save"></input>
                    </div>
                  </fieldset>
                </li>
              -->
              </ul>
            </form>
          </section>
          <section id="account">
              <ul>
                <li class="padding">
                    <fieldset class="material-button">
                      <div>
<form method="get" action="/userinfo">
                        <button type="submit" class="connect gh connected">
                          <span>My Page</span>
                        </button>
</form>
                      </div>
                    </fieldset>
                  </li>
                <li class="padding">
                  <fieldset class="material-button">
                    <div>
                      <form method= "get" action="/logout">
                        <button type="submit" class="connect fb">
                          <span>Sign out</span>
                        </button>
                      </form>
                    </div>
                  </fieldset>
                </li>
              </ul>
          </section>
        </main>
      </div>
    <% } else{ %>
          <form action="/auth/facebook" method="get">
              <button id="fb_button" type="submit">
                <img style="width: 10px; margin-right:4px;" src="/img/login_facebook.png" alt="f">
                페이스북으로 로그인하기</button>
          </form>
    <% } %>

  </div> <!-- header -->

  <div class="home_content">
    <div class="section section1">
      <div id="one_img" class="main_content_img" style="background-attachment:fixed;"></div>
      <div class="right_content1">
        <span class="right_content_title">소비 통계 보기</span><br><br>
        <p>최근지출, 오늘지출, 주간지출에 대한 내용과 <br>도표를 통해 한눈에 지출 내역을 확인 할 수 있어요.</p>
      </div>
    </div>
    <div class="section section2">
      <div id="two_img" class="main_content_img" style="background-attachment:fixed;"></div>
      <div class="right_content2">
        <span class="right_content_title">지난 지출 보기</span><br><br>
        <p>달력을 통해 손쉽게 지난 지출을 볼 수 있어요.</p>
      </div>
    </div>
    <div class="section section3">
      <div id="three_img" class="main_content_img" style="background-attachment:fixed;"></div>
      <div class="right_content1">
        <span class="right_content_title">소비 패턴 분석</span><br><br>
        <p>한달간 지출 내역을 카테고리별로 나눠 볼수 있어요.</p>
      </div>
    </div>
    <div class="section section4">
      <div id="four_img" class="main_content_img" style="background-attachment:fixed;"></div>
      <div class="right_content2">
        <span class="right_content_title">지출 목표 생성</span><br><br>
        <p>나만의 지출 목표 퀘스트를 만들어 포인트와 아이템을 얻을 수 있어요.</p>
      </div>
    </div>
    <div class="section section5">
      <div id="five_img" class="main_content_img" style="background-attachment:fixed;"></div>
      <div class="right_content1">
        <span class="right_content_title">캐릭터 얻기</span><br><br>
        <p>아이템을 조합해서 다양한 캐릭터를 얻어보세요.</p>
      </div>
    </div>
    <div class="section section6">
      <div id="six_img" class="main_content_img" style="background-attachment:fixed;"></div>
      <div class="right_content2">
        <span class="right_content_title">위젯 기능</span><br><br>
        <p>위젯을 통해 바탕화면에서 지출, 목표를 빠르게 확인해보세요.</p>
      </div>
    </div>

    <div class="footer">
      <img class="btm_logo" alt=" " src="../img/티끌모아태산.png"/>
    </div>
  </div>


  </body>
</html>
