<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>JOY</title>
    <link rel = "stylesheet" type="text/css" href="../css/index.css"/>
    <link rel = "stylesheet" type="text/css" href="../css/wrapper.css"/>
    <link rel = "stylesheet" type="text/css" href="../css/item.css"/>

	<script type ="text/javascript" src="../js/jquery-3.1.1.min.js"></script>

  </head>
  <body>

    <div class="header">
      <div class="wrapper">
        <a href="/">
          <img class="logo" src="../img/티끌모아태산.png" alt="이미지">
        </a>

        <div class="nav">
          <div class="top_menu">
            <ul>
              <li class="main_menu mmu1">
                <span>내역 입력</span>
                <ul class="sub_menu">
                  <li><a href="/income">수입 내역 입력</a></li>
                  <li><a href="/expense">지출 내역 입력</a></li>
                </ul>
              </li>

              <li class="main_menu mmu2">
                <span>통계 조회</span>
                <ul class="sub_menu">
                  <li><a href="/statistic/web">일별 통계</a></li>
                  <li><a href="/statistic/monthly">월별 통계</a></li>
                </ul>
              </li>
              <li class="main_menu mmu3">
                <a href="/quest"><span>퀘스트</span></a>
              </li>
              <li class="main_menu mmu4">
                <span>캐릭터</span>
                <ul class="sub_menu">
                  <li><a href="/character">캐릭터</a></li>
                  <li><a href="/item">아이템</a></li>
                </ul>
              </li>
              <li class="main_menu mmu5">
                <a href="/community"><span>커뮤니티</span></a>
              </li>

              <li class="main_menu mmu5">
                <a href="/kids"><span><img src="/img/kids.png" style="margin-top:30px; height:50px;"alt=""></span></a>
              </li>


            </ul>
          </div>
        </div> <!-- nav -->


      </div>
    </div>
	<div class="wrapper content">
    <h2 style="margin-bottom: 50px">아이템</h2>
    <p style="text-align:center; margin-bottom: 50px">내 포인트 : <%=item.point%></p>
	<div style="display:block ">
    <div id="cuadricula">
        <div class="item">
          <img src="../img/원두.png">
          <p><%=item.list[1]%></p>
        </div>
        <div class="item">
          <img src="../img/물방울.png">
          <p><%=item.list[2]%></p>
        </div>
        <div class="item">
          <img src="../img/얼음.png">
          <p><%=item.list[3]%></p>
        </div>
        <div class="item">
          <img src="../img/우유.png">
          <p><%=item.list[4]%></p>
        </div>
        <div class="item">
          <img src="../img/초코.png">
          <p><%=item.list[5]%> </p>
        </div>
        <div class="item">
          <img src="../img/녹차가루.png">
          <p><%=item.list[6]%></p>
        </div>
        <div class="item">
          <img src="../img/자몽청.png">
          <p><%=item.list[7]%></p>
        </div>
        <div class="item">
          <img src="../img/탄산수.png">
          <p><%=item.list[8]%></p>
        </div>
        <div class="item">
          <img src="../img/시럽.png">
          <p><%=item.list[9]%></p>
        </div>
        <div class="item">
          <img src="../img/파란색소.png">
          <p><%=item.list[10]%></p>
        </div>
        <div class="item">
          <img src="../img/레몬.png">
          <p><%=item.list[11]%></p>
        </div>
      </div>
	</div>

    <form class="f_buy"action="/item/buy" method="post">
      <div id="div_item_list">
        <ul class="item_list">
            <li>원두 (50p)
              <select name="list[0]" id="item0" onClick='item0Select()'>
                <option value=0 selected>0</option>
                <option value=1>1</option>
                <option value=2>2</option>
                <option value=3>3</option>
                <option value=4>4</option>
                <option value=5>5</option>
              </select>
            </li>
            <li>물 (70p)
              <select name="list[1]"id="item1" onClick='item1Select()'>
                <option value=0 selected>0</option>
                <option value=1>1</option>
                <option value=2>2</option>
                <option value=3>3</option>
                <option value=4>4</option>
                <option value=5>5</option>
              </select>
            </li>
            <li>얼음 (30p)
              <select name="list[2]"id="item2" onClick='item2Select()'>
                <option value=0 selected>0</option>
                <option value=1>1</option>
                <option value=2>2</option>
                <option value=3>3</option>
                <option value=4>4</option>
                <option value=5>5</option>
              </select>
            </li>
            <li>우유 (150p)
              <select name="list[3]"id="item3" onClick='item3Select()'>
                <option value=0 selected>0</option>
                <option value=1>1</option>
                <option value=2>2</option>
                <option value=3>3</option>
                <option value=4>4</option>
                <option value=5>5</option>
              </select>
            </li>
            <li>초코 (350p)
              <select name="list[4]"id="item4" onClick='item4Select()'>
                <option value=0 selected>0</option>
                <option value=1>1</option>
                <option value=2>2</option>
                <option value=3>3</option>
                <option value=4>4</option>
                <option value=5>5</option>
              </select>
            </li>
            <li>녹차가루 (500p)
              <select name="list[5]"id="item5" onClick='item5Select()'>
                <option value=0 selected>0</option>
                <option value=1>1</option>
                <option value=2>2</option>
                <option value=3>3</option>
                <option value=4>4</option>
                <option value=5>5</option>
              </select>
            </li>
            <li>자몽청 (700p)
              <select name="list[6]" id="item6" onClick='item6Select()'>
                <option value=0 selected>0</option>
                <option value=1>1</option>
                <option value=2>2</option>
                <option value=3>3</option>
                <option value=4>4</option>
                <option value=5>5</option>
              </select>
            </li>
            <li>시럽 (200p)
              <select name="list[7]" id="item7" onClick='item7Select()'>
                <option value=0 selected>0</option>
                <option value=1>1</option>
                <option value=2>2</option>
                <option value=3>3</option>
                <option value=4>4</option>
                <option value=5>5</option>
              </select>
            </li>
            <li>탄산수 (200p)
              <select name="list[8]" id="item8" onClick='item8Select()'>
                <option value=0 selected>0</option>
                <option value=1>1</option>
                <option value=2>2</option>
                <option value=3>3</option>
                <option value=4>4</option>
                <option value=5>5</option>
              </select>
            </li>
            <li>파란색소 (800p)
              <select name = "list[9]" id="item9" onClick='item9Select()'>
                <option value=0 selected>0</option>
                <option value=1>1</option>
                <option value=2>2</option>
                <option value=3>3</option>
                <option value=4>4</option>
                <option value=5>5</option>
              </select>
            </li>
            <li>레몬 (1000p)
              <select name="list[10]" id="item10" onClick='item10Select()'>
                <option value=0 selected>0</option>
                <option value=1>1</option>
                <option value=2>2</option>
                <option value=3>3</option>
                <option value=4>4</option>
                <option value=5>5</option>
              </select>
            </li>
			<div style="border:none; margin:30px 0; width:100%">
				<div class="submit_btn">
					<button type="button" class="b_buy">구입하기</button>
				</div>
			</div>
        </ul>
      </div>
    </form>
    </div>
</div>
    <!--footer-->
    <div class="footer">
      <img class="btm_logo"style="margin-top:50px;" alt=" " src="img/티끌모아태산.png"/>
    </div>
  </body>
</html>
<script>
var doc = document;
var item = [
        {
        "name": "원두",
        "num": 0,
        "point": 50
    },
        {
        "name": "물",
        "num": 0,
        "point": 70
    },
        {
        "name": "얼음",
        "num": 0,
        "point": 30
    },
        {
        "name": "우유",
        "num": 0,
        "point": 150
    },
        {
        "name": "초코",
        "num": 0,
        "point": 350
    },
        {
        "name": "녹차가루",
        "num": 0,
        "point": 500
    },
        {
        "name": "자몽청",
        "num": 0,
        "point": 700
    },
        {
        "name": "탄산수",
        "num": 0,
        "point": 200
    },
        {
        "name": "시럽",
        "num": 0,
        "point": 200
    },
        {
        "name": "파란색소",
        "num": 0,
        "point": 800
    },
        {
        "name": "레몬",
        "num": 0,
        "point": 1000
    }
];
var totalMoney = 0;

function item0Select(){
  item[0].num = document.getElementById("item0").value;
}

function item1Select(){
  item[1].num = document.getElementById("item1").value;
}

function item2Select(){
  item[2].num  = document.getElementById("item2").value;
}

function item3Select(){
  item[3].num  = document.getElementById("item3").value;
}

function item4Select(){
  item[4].num  = document.getElementById("item4").value;
}

function item5Select(){
  item[5].num  = document.getElementById("item5").value;
}

function item6Select(){
  item[6].num  = document.getElementById("item6").value;
}

function item7Select(){
  item[7].num  = document.getElementById("item7").value;
}

function item8Select(){
  item[8].num  = document.getElementById("item8").value;
}

function item9Select(){
  item[9].num  = document.getElementById("item9").value;
}

function item10Select(){
  item[10].num  = document.getElementById("item10").value;
}

$(".b_buy").click(function(){

	var message= "";
	for(var i=0; i<11; i++){
    	totalMoney += item[i].num * item[i].point;
        if(item[i].num != 0)
        	message += item[i].name+"  "+item[i].num+"개"+"\n";
    }

	if( totalMoney >= <%=item.point%>){
		alert("포인트가 부족합니다.");
		return;
	}
	else{
	    message += "총 "+totalMoney+"   point\n";
  	 	message += "구입하시겠어요?";
		alert(message);

        var inputTag = doc.createElement("input");
        inputTag.setAttribute('type', 'hidden');
        inputTag.setAttribute('name','point');
        inputTag.setAttribute('value', totalMoney);

        doc.getElementsByTagName("form")[0].appendChild(inputTag);

		$(".f_buy").submit();
	}
});
</script>
