<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>JOY</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script> <!--레이더 차트 가져오는곳-->
    <link rel = "stylesheet" type="text/css" href="../css/index.css"/>
    <link rel = "stylesheet" type="text/css" href="../css/wrapper.css"/>
    <link rel = "stylesheet" type="text/css" href="../css/monthlyStat.css"/>

  </head>
  <body>


    <div class="header">
      <div class="wrapper">
        <a href="/">
          <img class="logo" src="../img/티끌모아태산.png" alt="이미지">
        </a>

        <div class="nav">
          <div class="top_menu">
            <ul>
              <li class="main_menu mmu1">
                <span>내역 입력</span>
                <ul class="sub_menu">
                  <li><a href="/income">수입 내역 입력</a></li>
                  <li><a href="/expense">지출 내역 입력</a></li>
                </ul>
              </li>

              <li class="main_menu mmu2">
                <span>통계 조회</span>
                <ul class="sub_menu">
                  <li><a href="/statistic/web">일별 통계</a></li>
                  <li><a href="/statistic/monthly">월별 통계</a></li>
                </ul>
              </li>
              <li class="main_menu mmu3">
                <a href="/quest"><span>퀘스트</span></a>
              </li>
              <li class="main_menu mmu4">
                <span>캐릭터</span>
                <ul class="sub_menu">
                  <li><a href="/character">캐릭터</a></li>
                  <li><a href="/item">아이템</a></li>
                </ul>
              </li>
              <li class="main_menu mmu5">
                <a href="/community"><span>커뮤니티</span></a>
              </li>

              <li class="main_menu mmu5">
                <a href="/kids"><span><img src="/img/kids.png" style="margin-top:30px; height:50px;"alt=""></span></a>
              </li>


            </ul>
          </div>
        </div> <!-- nav -->


      </div>
    </div>

    <div class="wrapper content">
      <h2 style="margin-bottom: 50px">월별 조회</h2>

      <!--두가지 월별통계 탭 부분-->
      <ul class="tablist" role="tablist">
        <li class="tab" role="tab"><a href="#panel1">수입지출비교</a></li>
        <li class="tab" role="tab"><a href="#panel2">사용자비교</a></li>

        <li class="tab-menu">
          <div class="line"></div>
          <div class="line"></div>
        </li>
      </ul>

      <!--수입지출비교-->
      <div class="tabpanel" id="panel1" role="tabpanel">
        <script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
        <script src="https://www.amcharts.com/lib/3/pie.js"></script>
        <script src="https://www.amcharts.com/lib/3/themes/light.js"></script>

        <script src="https://code.jquery.com/jquery-1.12.3.min.js"></script>

        <div class="chartdiv-container">
          <div id="chartdiv"></div>
        </div>

      </div>

      <!--타사용자비교-->
      <div class="tabpanel" id="panel2" role="tabpanel">
        <div class="radarChart_con">
          <div style="text-align: center">
            <canvas id="myChart"></canvas>
          </div>
        </div>
      </div>

      <!--월 선택-->
      <div class="input_form">
        <form action="/statistic/monthly?uid=web">
          <div>
            <span>월 선택</span>
            <select name="month">
              <option value="201701">1월</option>
              <option value="201702">2월</option>
              <option value="201703">3월</option>
              <option value="201704">4월</option>
              <option value="201705">5월</option>
              <option value="201706">6월</option>
              <option value="201707">7월</option>
              <option value="201708">8월</option>
              <option value="201709">9월</option>
              <option value="201710">10월</option>
              <option value="201711">11월</option>
              <option value="201712">12월</option>
            </select>
          </div>

          <div class="submit_btn">
            <button type="submit">SUBMIT</button>
          </div>

        </form>
      </div>
    </div>


    <!--footer-->
    <div class="footer">
      <img class="btm_logo" alt=" " src="img/티끌모아태산.png"/>
    </div>
  </body>
</html>
<!--수입지출 비교자바스크립트-->
<script>
  (function() {

  function activateTab() {
    if(activeTab) {
      resetTab.call(activeTab);
    }
    this.parentNode.className = 'tab tab-active';
    activeTab = this;
    activePanel = document.getElementById(activeTab.getAttribute('href').substring                                                                                      (1));
    activePanel.className = 'tabpanel show';
    activePanel.setAttribute('aria-expanded', true);
  }

  function resetTab() {
    activeTab.parentNode.className = 'tab';
    if(activePanel) {
      activePanel.className = 'tabpanel hide';
      activePanel.setAttribute('aria-expanded', false);
    }
  }

  var doc = document,
      tabs = doc.querySelectorAll('.tab a'),
      panels = doc.querySelectorAll('.tabpanel'),
      activeTab = tabs[0],
      activePanel;

  activateTab.call(activeTab);

  for(var i = tabs.length - 1; i >= 0; i--) {
    tabs[i].addEventListener('click', activateTab, false);
  }

  })();






  var chart = AmCharts.makeChart("chartdiv", {
    "type": "pie",
    "startDuration": 0,
    "theme": "light",
    "addClassNames": true,
    // "legend": {
    //   "position": "right",
    //   "marginRight": 100,
    //   "autoMargins": false
    // },
    "innerRadius": "60%",
    "defs": {
      "filter": [{
        "id": "shadow",
        "width": "200%",
        "height": "200%",
        "feOffset": {
          "result": "offOut",
          "in": "SourceAlpha",
          "dx": 0,
          "dy": 0
        },
        "feGaussianBlur": {
          "result": "blurOut",
          "in": "offOut",
          "stdDeviation": 5
        },
        "feBlend": {
          "in": "SourceGraphic",
          "in2": "blurOut",
          "mode": "normal"
        }
      }]
    },
    "dataProvider": [{
      "country": "수입",
      "litres": <%=statistic.income%>
    }, {
      "country": "지출",
      "litres": <%=statistic.expense%>
    }],
    "valueField": "litres",
    "titleField": "country",
    "balloon": {
      "fillAlpha": 0,
      "borderAlpha": 0,
      "shadowAlpha": 0,
      "fixedPosition": true
    },
    "listeners": [{
      "event": "changed",
      "method": function(e) {
        console.log(e.type);
      }
    }],
    "chartCursor": {

    },
    "export": {
      "enabled": true
    }
  });

  chart.addListener("init", handleInit);

  chart.addListener("rollOverSlice", function(e) {
    handleRollOver(e);
  });

  function handleInit() {
    chart.legend.addListener("rollOverItem", handleRollOver);
  }

  function handleRollOver(e) {

    var chart = e.chart,
      radiusReal = chart.radiusReal,
      innerRadius = parseInt(chart.innerRadius, 10) * 0.01,
      marginTop = radiusReal * innerRadius;

    $('.amcharts-balloon-div').css({
      marginTop: marginTop * -1
    });

    var wedge = e.dataItem.wedge.node;
    wedge.parentNode.appendChild(wedge);
  }
</script>

<!--타사용자비교 자바스크립트-->
<script type="text/javascript">
var ctx = document.getElementById('myChart').getContext('2d');

var myChart = new Chart(ctx, {
  type: 'radar',
  data: {
    labels: ['식비', '교통비', '문화', '생활', '음료/간식', '교육', '공과금', '기타'],
    datasets: [{
      label: '평균',
      data: [<%=statistic.whole.식비%>, <%=statistic.whole.교통비%> , <%=statistic.whole.문화%>, <%=statistic.whole.생활%>, <%=statistic.whole["음료/간식"]%>, <%=statistic.whole.교육%>, <%=statistic.whole.공과금%>,<%=statistic.whole.기타%>],
      backgroundColor: "rgba(255,0,0,0.4)",
      borderColor: "rgba(255,0,0,1)",
    }, {
      label: '본인',
      data: [<%=statistic.mine.식비%>, <%=statistic.mine.교통비%>, <%=statistic.mine.문화%>, <%=statistic.mine.생활%>, <%=statistic.mine["음료/간식"]%>, <%=statistic.mine.교육%>, <%=statistic.mine.공과금%>,<%=statistic.mine.기타%>],
      backgroundColor: "rgba(255,153,0,0.4)",
      borderColor: "rgba(255,153,0,1)",
    }]
  }
});

console.log(<%=statistic.mine.식비%>);

</script>
