<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>JOY</title>
    <link rel = "stylesheet" type="text/css" href="../css/index.css"/>
    <link rel = "stylesheet" type="text/css" href="../css/wrapper.css"/>
    <link rel = "stylesheet" type="text/css" href="../css/monthlyStat.css"/>

    <link rel = "stylesheet" type="text/css" href="../css/modal.css"/>
    <script type="text/javascript" src="../js/jquery-3.1.1.min.js"></script>

    <script type="text/javascript" src="../js/modal.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.3/TweenMax.min.js"></script>
  </head>
  <body>
    <div class="header">
      <div class="wrapper">
        <a href="/">
          <img class="logo" src="../img/티끌모아태산.png" alt="이미지">
        </a>
        <div class="nav">
          <div class="top_menu">
            <ul>
              <li class="main_menu mmu1">
                <span>내역 입력</span>
                <ul class="sub_menu">
                  <li><a href="/income">수입 내역 입력</a></li>
                  <li><a href="/expense">지출 내역 입력</a></li>
                </ul>
              </li>

              <li class="main_menu mmu2">
                <span>통계 조회</span>
                <ul class="sub_menu">
                  <li><a href="/statistic/web">일별 통계</a></li>
                  <li><a href="/statistic/monthly">월별 통계</a></li>
                </ul>
              </li>
              <li class="main_menu mmu3">
                <span>퀘스트</span>
                <ul class="sub_menu">
                  <li><a href="/quest/web">퀘스트</a></li>
                  <li></li>
                </ul>
              </li>
              <li class="main_menu mmu4">
                <span>캐릭터</span>
                <ul class="sub_menu">
                  <li><a href="/character">캐릭터</a></li>
                  <li><a href="item">아이템</a></li>
                </ul>
              </li>
              <li class="main_menu mmu5">
                <span>커뮤니티</span>
                <ul class="sub_menu">
                  <li><a href="/income">커뮤니티로 이동▶</a></li>
                  <li></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>



      </div>
    </div>

    <div class="wrapper content">
      <h2 style="margin-bottom: 50px">퀘스트</h2>

      <!--두가지 퀘스트 탭 부분-->
      <ul class="tablist" role="tablist">
        <li class="tab" role="tab"><a href="#panel1">주간 지출 목표</a></li>
        <li class="tab" role="tab"><a href="#panel2">월간 지출 목표</a></li>

        <li class="tab-menu">
          <div class="line"></div>
          <div class="line"></div>
        </li>
      </ul>

      <!--주간 지출 목표-->
      <div class="tabpanel" id="panel1" role="tabpanel">

	<% if (JSON.stringify(weekly) != '{}') {%>
		<div class="quest-list">시작일</div>
          <p><%= weekly.startDate %></p>
          <div class="quest-list">종료일</div>
          <p><%= weekly.endDate %></p>
          <div class="quest-list">목표금액</div>
          <p><%= weekly.goalMoney %></p>
          <div class="quest-list">현재금액</div>
          <p><%= weekly.nowMoney %></p>
          <% if (weekly.isEnd != 0) {%>
            <form action="/quest/complete" method="get">
              
<input class="input-text" type="hidden" name="type" value="weekly"/>
              <input class="input-submit" type="submit" value="보상을 받을래요!"/>
            </form>
          <% } else { %>
            <form action="/quest/giveup" method="get">
				<input class="input-text" type="hidden" name="type" value="weekly"/>
              <input class="input-submit" type="submit" value="포기하겠습니다."/>
            </form>
          <% } %>
        <% } else { %>
          <div style="text-align:center">
      			<div style="text-align: center; margin-top : 150px; margin-bottom: 300px">

              <!-- 퀘스트 시작하기 모달 -->
              <div>
                <div class="intro">
                  <h1>등록된 퀘스트가 없습니다.</h1>
                  <h2>퀘스트를 등록 해 주세요.</h2>
                </div>
                <button class="open-modal">새로운 퀘스트 시작하기</button>

                <div class="modal-overlay"></div>

                <div id="juha" class="modal">
                  <button class="close-modal">×</button>
                  <div class="icon">
                    <i class="fa fa-user-plus">QUEST</i>
                    <i class="fa fa-user-plus">✔️</i>
                  </div>
                  <i class="fa fa-user-plus" style="font-size: 23px;">목표 달성 시에는 아이템과 포인트를 얻을 수 있어요!</h1>

                  <form action="/quest/start" method="post">
                    <input class="input-text" type="hidden" name="type" value="weekly"/>
                    <input class="input-text" type="text" placeholder="당신의 목표 금액은?" name="money" style="margin-top: 20px;"/>

                    <input class="input-submit" type="submit" value="START"/>
                  </form>
                </div>
                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="filters">
                    <defs>
                      <filter id="blur">
                          <feGaussianBlur id="blur-filter" in="SourceGraphic" stdDeviation="0,0" />
                      </filter>
                  </defs>
                </svg>
              </div>
            </div>
      		</div>
        <% } %>
      </div>

      <!--월간 지출 목표-->
      <div class="tabpanel" id="panel2" role="tabpanel"style="margin-left:100px; margin-right:100px; margin-bottom:300px;">
	<% if (JSON.stringify(monthly) != '{}') {%>

          <div class="quest-list">시작일</div>
          <p><%= monthly.startDate %></p>
          <div class="quest-list">종료일</div>
          <p><%= monthly.endDate %></p>
          <div class="quest-list">목표금액</div>
          <p><%= monthly.goalMoney %></p>
          <div class="quest-list">현재금액</div>
          <p><%= monthly.nowMoney %></p>
          <% if (monthly.isEnd != 0) {%>
            <form action="/quest/complete" method="get">
              <input class="input-submit" type="submit" value="보상을 받을래요!"/>
<input class="input-text" type="hidden" name="type" value="monthly"/>
            </form>
          <% } else { %>
            <form action="/quest/giveup" method="get">
              <input class="input-submit" type="submit" value="포기하겠습니다."/>
<input class="input-text" type="hidden" name="type" value="monthly"/>
            </form>
          <% } %>
        <% } else { %>
          <div style="text-align:center">
            <div style="text-align: center; margin-top : 150px; margin-bottom: 300px">

              <!-- 퀘스트 시작하기 모달 -->
              <div>
                <div class="intro">
                  <h1>등록된 퀘스트가 없습니다.</h1>
                  <h2>퀘스트를 등록 해 주세요.</h2>
                </div>
                <button class="open-modal">새로운 퀘스트 시작하기</button>

                <div class="modal-overlay"></div>

                <div id="juha" class="modal">
                  <button class="close-modal">×</button>
                  <div class="icon">
                    <i class="fa fa-user-plus">QUEST</i>
                    <i class="fa fa-user-plus">✔️</i>
                  </div>
                  <i class="fa fa-user-plus" style="font-size: 23px;">목표 달성 시에는 아이템과 포인트를 얻을 수 있어요!</h1>

                  <form action="/quest/start" method="post">
                    <input class="input-text" type="hidden" name="type" value="monthly"/>
                    <input class="input-text" type="text" placeholder="당신의 목표 금액은?" name="money" style="margin-top: 20px;"/>

                    <input class="input-submit" type="submit" value="START"/>
                  </form>
                </div>
                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="filters">
                    <defs>
                      <filter id="blur">
                          <feGaussianBlur id="blur-filter" in="SourceGraphic" stdDeviation="0,0" />
                      </filter>
                  </defs>
                </svg>
              </div>
            </div>
          </div>
        <% } %>
      </div>
    </div>


    <!--footer-->
    <div class="footer">
      <img class="btm_logo" alt=" " src="../img/티끌모아태산.png"/>
    </div>
  </body>
</html>
